<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/{{ style }}.css" />
    <meta charset="utf-8">
    <meta name="description" content="Le Studio - Web agency specialized in JS - Offers social media management, ads campaigns, web development and mobile development - In Lyon, France">
  </head>
  <body>
    <div data-apos-refreshable>

      <div class="navigation">
        <div class="navigation__logo-container">
          <a href="/" class="navigation__logo" name="logo">
            {{ logo }}
          </a>

          <div class="navigation__menu-btn"></div>
        </div>

        <div class="navigation__nav-items">
          <ul class="navigation__nav-links">
            <li>
              <a href="{{ path }}" aria-label="{{ ariaLabel }}">{{ linkText }}</a>
            </li>
          </ul>
        </div>
      </div>

      <a name="main"></a>
      {{{body}}}
    </div>
  </body>
</html>
